@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'BinggraeSamanco-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/BinggraeSamanco-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'BinggraeSamanco-Bold';
    @apply flex flex-col items-center
}

#root {
    @apply w-full max-w-screen-2xl;
}